---
import {format} from 'date-fns'
const {frontmatter} = Astro.props
---
<html lang="en">
<head>

    <meta charset="utf-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">
    <title>{frontmatter.title}</title>
    <style>
        body {
            font-family: 'Poppins', sans-serif;
        }

        h1 {
            font-size: 4rem;
            font-weight: normal;
        }

        h2 {
            font-size: 3rem;
            font-weight: normal;
            color: gray;
        }
        img {
            max-width: 1000px !important;
        }

        img.figure-image {
            border: 1px solid black;
            width: 1000px !important;
        }
    </style>
</head>
<body>
<div style="width: 100%; margin: 0 auto;">
    <div style="max-width: 1000px; margin: 0 auto">
        <img src={frontmatter.featuredImage} alt="Featured Image"/>
        <h1>{frontmatter.title}</h1>
        <div>Date: {format(new Date(frontmatter.date), 'LLL d, yyyy')}</div>
        <div>Author: {frontmatter.author}</div>
        <slot/>
    </div>
</div>
</body>
</html>